.build-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 2rem 2rem; /* Added top padding */
}

.build-page-button {
    background-color: white;
    color: black;
}

[data-theme='light'] .build-page-button {
    background-color: var(--text-color);
    color: var(--background-color);
}
