.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skeleton-item {
  background-color: var(--bg-slate-800);
  border-radius: 0.75rem; /* 12px */
  height: 60px; /* Adjust height to match venture-item */
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

[data-theme='light'] .skeleton-item {
    background-color: var(--bg-slate-700);
}
